[submodule "vim.symlink/bundle/vendor/pathogen"]
	path = vim.symlink/bundle/vendor/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim.symlink/bundle/vendor/nerdcommenter"]
	path = vim.symlink/bundle/vendor/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim.symlink/bundle/vendor/nerdtree"]
	path = vim.symlink/bundle/vendor/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/vendor/fugitive"]
	path = vim.symlink/bundle/vendor/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim.symlink/bundle/vendor/syntastic"]
	path = vim.symlink/bundle/vendor/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim.symlink/bundle/vendor/vim-colorschemes"]
	path = vim.symlink/bundle/vendor/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim.symlink/bundle/vendor/numbertoggle"]
	path = vim.symlink/bundle/vendor/numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim.symlink/bundle/vendor/YouCompleteMe"]
	path = vim.symlink/bundle/vendor/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim.symlink/bundle/vendor/ultisnips"]
	path = vim.symlink/bundle/vendor/ultisnips
	url = https://github.com/SirVer/ultisnips.git
